*{
    padding: 0;
    margin: -0;
}
body{
    background-color: #f7f7f7;
    font-family: "Poppins", Times, serif;
}

.hero{
    padding: 100px;
}
.hero__title{
    color: black; 
}
.hero__description{
    color: #81dA76;
}
.hero__highlight{
    color: #dbfbe0;
}



.feature{
    padding: 100px;
}
.feature__item{
    padding: 30px 0;
}
.feature__title{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #4bbd47;
    margin-bottom: 10px;
}
.feature__title--selected{
    text-decoration: underline;
}
.feature__description{
    /* text-align: right;
    letter-spacing: 0.5rem;
    line-height: 2.4rem;
    word-spacing: 3rem; */
    /* white-space: pre-wrap; */
}

.cta{
    padding: 100px;
    background-color: #5bb471;
    color: #fff;
    text-align: center;
}
.cta__description{
    padding: 15px 0;
    
}